.git
.github
.pytest_cache
__pycache__/
*.pyc
venv/
POGCC/
docs/

config.json
.env

frontend/node_modules/
frontend/dist/

app/data/
app/rag/data_index/
app/rag/uploads/
app/rag/bge-small-en-v1.5/

testing/
tests/
documents/
